**
!.bower/*
!.bower/**
!.bower/*/*
!dist/*
!dist/**
!dist/*/*
!public/*/*
!public/**
!public/*
!static/*/*
!static/**
!static/*
!favicon/*/*
!favicon/**
!favicon/*
!third-party/*/*
!third-party/**
!third-party/*
!lib/*
!lib/**
!lib/*/*
!views/*
!views/**
!views/*/*


!.bowerrc
!Gruntfile.js
!middleware.js
!package.json
!index.js
